<!DOCTYPE html>
<html lang="en">

{% include "global/partials/head.html" %}
<body>

    <!-- =============== Nav ================ -->
    <div class="container">
     {% include "global/partials/navigation.html" %}

        <!-- ========================= Main ==================== -->
        <div class="main">
            <!-- =================TOP BAR ================ -->
            <div class="topbar">
                <div class="toggle">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Buscar">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

                <div class="user">
                    <img src="assets/imgs/customer01.jpg" alt="">
                </div>
            </div>
            <!-- ======================= Cards ================== -->
            <div class="cardBox">
                <div class="card">
                    <div>
                        <div class="numbers">200</div>
                        <div class="cardName">Visitas</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="eye-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">120</div>
                        <div class="cardName">Pedidos</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cart-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">284</div>
                        <div class="cardName">Mensagens</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="chatbubbles-outline"></ion-icon>
                    </div>
                </div>

                <div class="card">
                    <div>
                        <div class="numbers">R$7.842,00</div>
                        <div class="cardName">Faturamento</div>
                    </div>

                    <div class="iconBx">
                        <ion-icon name="cash-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <!-- ================ Order Details List ================= -->
            <div class="conteudo">
                <h1>{% block valor %}{% endblock valor %}</h1>
            </div>
            <div class="details">
                <div class="recentOrders">
                    <div class="cardHeader">
                        <h2>Pedidos Recentes</h2>
                        <a href="#" class="btn">Ver Todos</a>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <td>Nome</td>
                                <td>Preço</td>
                                <td>Pagamento</td>
                                <td>Status</td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>Star Refrigerator</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status delivered">Enviado</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>R$ 110</td>
                                <td>aguardando</td>
                                <td><span class="status pending">Aguardando</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>R$ 1200</td>
                                <td>Pago</td>
                                <td><span class="status return">Devolução</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>R$ 620</td>
                                <td>pago</td>
                                <td><span class="status inProgress">Em transito</span></td>
                            </tr>

                            <tr>
                                <td>Star Refrigerator</td>
                                <td>R$ 1200</td>
                                <td>pago</td>
                                <td><span class="status delivered">Entregue</span></td>
                            </tr>

                            <tr>
                                <td>Dell Laptop</td>
                                <td>R$ 110</td>
                                <td>aguardando</td>
                                <td><span class="status pending">Pendente</span></td>
                            </tr>

                            <tr>
                                <td>Apple Watch</td>
                                <td>R$ 1200</td>
                                <td>pago</td>
                                <td><span class="status return">Devolução</span></td>
                            </tr>

                            <tr>
                                <td>Addidas Shoes</td>
                                <td>R$ 620</td>
                                <td>Pago</td>
                                <td><span class="status inProgress">Em transito</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- ================= New Customers ================ -->
                <div class="recentCustomers">
                    <div class="cardHeader">
                        <h2>Clientes Recentes</h2>
                    </div>

                    <table>
                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.webp" alt=""></div>
                            </td>
                            <td>
                                <h4>Alex <br> <span>São Paulo</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Osni <br> <span>Goiais</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.webp" alt=""></div>
                            </td>
                            <td>
                                <h4>Alex <br> <span>São Paulo</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Osni <br> <span>Goiais</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.webp" alt=""></div>
                            </td>
                            <td>
                                <h4>Alex <br> <span>São Paulo</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Osni <br> <span>Goiais</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer01.jpg" alt=""></div>
                            </td>
                            <td>
                                <h4>Alex <br> <span>São Paulo</span></h4>
                            </td>
                        </tr>

                        <tr>
                            <td width="60px">
                                <div class="imgBx"><img src="assets/imgs/customer02.webp" alt=""></div>
                            </td>
                            <td>
                                <h4>Osni <br> <span>Goiais</span></h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script src="assets/js/main.js"></script>

    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>