<div class="navigation">
    <ul>
        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="logo-apple"></ion-icon>
                </span>
                <span class="title">Chapp</span>
            </a>
        </li>

        <li>
            <a href="{% url 'home:home' %}">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">HOME</span>
            </a>
        </li>

        <li>
            <a href="{% url 'blog:blog' %}">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
                <span class="title">BLOG</span>
            </a>
        </li>

        <li>
            <a href="{% url 'blog:exemplo' %}">
                <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </span>
                <span class="title">EXEMPLO</span>
            </a>
        </li>

        <li>
            <a href="{% url 'blog:vendas' %}">
                <span class="icon">
                    <ion-icon name="help-outline"></ion-icon>
                </span>
                <span class="title">VENDAS</span>
            </a>
        </li>
 
 

        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Sair</span>
            </a>
        </li>
    </ul>
</div>